<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="./css/form.css">
</head>
<style>
</style>

<body>
    <div class="nav">
        <ul>
            <li><a href="">Home </a></li>
            <li><a href="">Đăng Nhập </a></li>
            <li><a href="">Đăng ký </a></li>
        </ul>
    </div>
    <div class="formLogin">
        <h1 style="text-align: center;" >Màn hình đăng ký</h1>
        <form method="" action="">
            <div class="userName mb-3">
                <label for="userName">user name: </label>
                <input type="text" placeholder="enter your user name">
            </div>
            <div class="password">
                <label for="password">password: </label>
                <input type="text" placeholder="enter your password">
            </div>
            <div class="comfirmPassword">
                <label for="comfirmPassword">comfirm <br>password: </label>
                <input type="text" placeholder="comfirm yor password">
            </div>
            <div class="email">
                <label for="password">your email: </label>
                <input type="text" placeholder="enter your email">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remember"> Remember Me
                </label>
            </div>
            <div class="dangNhap">
              <a href="#">Đã có tài khoản</a>
              <button type="submit" >Đăng Nhập </button>
            </div>
        </form>
    </div>
    <div class="nav_foot">
       lập trình web 2025
    </div>
</body>

</html>