<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view</title>
    <link rel="stylesheet" href="./css/form.css">
</head>
<style>
</style>

<body>
    <div class="nav">
        <ul>
            <li><a href="">Home </a></li>
            <li><a href="">Đăng xuất </a></li>
        </ul>
    </div>
    <div class="formLogin">
        <h1 style="text-align: center;" >Màn hình chi tiết</h1>
        <form method="" action="">
            <div class="userName mb-3">
                <label for="userName">user name: </label>
                <p>example user name</p>
            </div>
            <div class="email">
                <label for="password">your email: </label>
                <p>example@gmail.com</p>
            </div>
           
            <div class="dangNhap">
              <a href="#"></a>
              <button type="submit" >Chỉnh sửa</button>
            </div>
        </form>
    </div>
    <div class="nav_foot">
       lập trình web 2025
    </div>
</body>

</html>